.main-header {
  background: white;
  padding: 20px 60px !important;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-title {
  font-size: x-large;
  font-weight: 800;
}
