.bank_details_container {
  background-color: white;
  padding: 40px;
}
.bank_details_row {
  margin: 30px 0px;
}
.bank_details_label {
  margin-bottom: 10px;
}
.bank_detais_icon {
  text-align: end;
}
